<section class="table">
  <div class="table__header">
    <input class="table__header--search" type="text" placeholder="Search..." />
    <a [routerLink]="['/create']">
      <button class="table__header--addBtn" type="button">Agregar</button>
    </a>
  </div>
  <div class="table__content">
    <table>
      <thead>
        <th>Logo</th>
        <th>
          Nombre del producto
          <app-tooltip text="Nombre del producto"></app-tooltip>
        </th>
        <th>
          Description
          <app-tooltip text="Description"></app-tooltip>
        </th>
        <th>
          Fecha de liberación
          <app-tooltip text="Fecha de liberación"></app-tooltip>
        </th>
        <th>
          Fecha de reestructuración
          <app-tooltip text="Fecha de reestructuración"></app-tooltip>
        </th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>
            <ng-container *ngIf="!!item.image; else imageTemplate">
              <img src="{{ item.image }}" alt="Foto placeholder" />
            </ng-container>
            <ng-template #imageTemplate>
              <div class="textLogo">
                <span class="textLogo__content">{{
                  item.name.slice(0, 2)
                }}</span>
              </div>
            </ng-template>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.releaseDate | date : "MM/dd/YYYY" }}</td>
          <td>{{ item.restorationDate | date : "MM/dd/YYYY" }}</td>
          <td>
            <app-modal [item]="item">
              <img
                class="menuDots"
                src="../assets/icons/three-dots.svg"
                alt="Menu"
              />
            </app-modal>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table__footer">
    <span class="table__footer--results">{{ items.length }} Resultados</span>
    <div class="selectContainer">
      <select name="" id="" class="table__footer--select">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</section>
