/* TABLE */
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  width: 90%;
}
.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}
.table__header--search {
  display: block;
  border-radius: 0.5rem;
  padding: 10px;
  outline: none;
  height: fit-content;
  width: 200px;
  border: 1px solid #ccc;
}
.table__header a {
  text-decoration: none;
}
.table__header--addBtn {
  display: block;
  padding: 1rem;
  background-color: #fcdf00;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.table__content {
  padding: 1rem 1rem 0 1rem;
  background-color: #fff;
}

.table__content {
  padding: 1rem 1rem 0 1rem;
  background-color: #fff;
  width: 100%;
  position: relative;
}
.table__content .scrollable {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  display: flex;
}
.table__content .scrollable .table2 {
  position: absolute;
}

.table__content table {
  border-collapse: collapse;
  max-width: 85%;
}

.table__content td,
.table__content th {
  border-bottom: 2px solid #ecf0f3;
  text-align: center;
  padding: 16px;
  white-space: nowrap;
}

.table2 table {
  position: fixed;
  /* margin-left: 1315px; */
}
/* fixing positions */
@media (min-width: 400px) {
  .table2 table {
    margin-left: calc(78% - 8px);
  }
}

@media (min-width: 500px) {
  .table2 table {
    margin-left: calc(80% - 8px);
  }
}
@media (min-width: 600px) {
  .table2 table {
    margin-left: calc(81% - 8px);
  }
}
@media (min-width: 700px) {
  .table2 table {
    margin-left: calc(82% - 8px);
  }
}
@media (min-width: 800px) {
  .table2 table {
    margin-left: calc(83% - 8px);
  }
}
@media (min-width: 1000px) {
  .table2 table {
    margin-left: calc(84% - 8px);
  }
}
@media (min-width: 1200px) {
  .table2 table {
    margin-left: calc(86% - 16px);
  }
}
@media (min-width: 1600px) {
  .table2 table {
    margin-left: 1370px;
  }
}

.table2 th,
.table2 td {
  height: 53px;
}
.table2 td {
  padding: 8px;
  background-color: #fff;
}

.table__content th {
  background-color: #f9fafc;
}

/* .table__content tr:hover {
  background-color: #f5f5f5;
} */
.table__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem 2rem 1rem;
}
.table__footer--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  padding-left: 1rem;
  cursor: pointer;
  border: none;
  width: 4rem;
}
.selectContainer {
  display: block;
  position: relative;
  display: flex;
  height: 2rem;
  background: #fff;
  overflow: hidden;
  border-radius: 0.25rem;
  border: solid 1px black;
}
.selectContainer::after {
  content: "\276E";
  transform: rotate(-90deg);
  position: absolute;
  top: 0.35rem;
  right: 0.6rem;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.table__footer--select::-ms-expand {
  display: none;
}
.table__footer--select:hover::after {
  color: #23b499;
}

/* Components */

.textLogo {
  display: flex;
  justify-content: center;
}
.textLogo__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #bec6db;
  text-transform: uppercase;
}
